{% extends 'base.html.twig' %}

{% block title %}Place index{% endblock %}

{% block body %}
    <h1>Список мест</h1>
    <div>
        {{ form(searchForm) }}
    </div>
    <table class="table">
        <tbody>
        {% for place in places %}
            <tr>
                <td><strong><a href="{{ path('app_place', {'placeId': place.id}) }}">{{ place.title }}</a></strong></td>
            </tr>
            {% if place.package.count > 0  %}
                {% for i in 0 .. place.package.count - 1 %}
                    <tr>
                        <td>
                            <ul>
                                <li>({{ place.package[i].quantity }}) {{ place.package[i].title }}</li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        <ul>
                            <li>Нет упаковок</li>
                        </ul>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td >Нет мест</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item {{ page == 1 ? 'disabled' }}">
                <a class="page-link" href="{{ path('app_place_index', {'page': page - 1 >= 1 ? page - 1 : 1}) }}"  aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
{#                {% for i in (page - 3 >= 1 ? page - 3 : 1)..(page + 3 <= countPages ? page + 3 : countPages) %}#}
                {% for i in (page - 3 > 1 ? (countPages - page < 3 ? countPages - 6 : page - 3) : 1)..(page + 3 < countPages ? (page < 4 ? 7 : page + 3) : countPages) %}
                    <li class="page-item {{ i == page ? 'active' : '' }}" aria-current="page">
                        <a class="page-link" href="{{ path('app_place_index', {'page': i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            <li class="page-item {{ page == countPages ? 'disabled' }}">
                <a class="page-link" href="{{ path('app_place_index', {'page': page + 1 <= countPages ? page + 1 : countPages }) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
