{% extends 'base.html.twig' %}

{% block body %}

    <h1>Место: {{ place.title }}</h1>

    <div class="bg-light text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Добавить или удалить упаковку</h2>
        </div>
        <div class="text-lg-start">
            {{ form(form) }}
        </div>
    </div>

    <h1 class="mb-4">Список упаковок:</h1>
    <ul>
        {% for package in place.package %}
            <li>({{ package.quantity|e }}) {{ package.title|e }}</li>
        {% else %}
                <li>Упаковки не найдены</li>
        {% endfor %}
    </ul>

    <h1>Список действий:</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Время</th>
            <th>Тип</th>
            <th>Упаковка</th>
            <th>Комментарий</th>
            <th>Имя</th>
        </tr>
        </thead>
        <tbody>
        {% for action in placeActionList.getItems %}
            <tr>
                <td>{{ action.createdAt ? action.createdAt|date('d.m H:i') : '' }}</td>
                <td>{{ action.actionType.title }}</td>
                <td>{{ action.package ? action.package.title : '' }}</td>
                <td>{{ action.comment }}</td>
                <td>{{ action.user ? action.user.fullName : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Записей не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
