{% extends 'base.html.twig' %}

{% block body %}
    <h1>Упаковка:</h1>
    <h4>{{ package.title }}</h4>
    <h4 class="mb-12">Количество: {{ package.quantity|default(0) }} </h4>

    <div class="row">
    <div class="my-md-3">
        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="text-lg-start">
                {{ form(form) }}
            </div>
        </div>
    </div>
    </div>


    <h1>Список действий:</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Время</th>
            <th>Тип</th>
            <th>Кол-во</th>
            <th>Комментарий</th>
            <th>Имя</th>
        </tr>
        </thead>
        <tbody>
        {% for action in packageActionList.getItems %}
            <tr>
                <td>{{ action.createdAt ? action.createdAt|date('d.m H:i') : '' }}</td>
                <td>{{ action.actionType.title }}</td>
                <td>{{ action.quantity }}</td>
                <td>{{ action.comment }}</td>
                <td>{{ action.user ? action.user.fullName : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Записей не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
